*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.wrapper{
    width: 300px;
    height: 1200px;
    background-color: black;
    margin: 0 auto;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.div{
    width: 300px;
    height: 600px;
    background-color: black;
    margin-bottom: 100%;
}
.box1,.box2,.box3{
    width: 280px;
    height: 280px;
    background-color: white;
    border-radius: 50%;
}
.r{
    background-color: red;
}
.y{
    background-color: yellow;
}
.g{
    background-color: green;
}